@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$yellow: #febb24;
// Add pink and its invert
$orange: #fb692d;
$purple: #671e54;
$red: #fa2735;
$coral: #b91d3d;
$bege: #f7e6cd;
// Update the sans-serif font family
$family-sans-serif: 'Darker Grotesque', 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
$primary: $orange;
$body-background-color: $bege;
$body-line-height: 1.3;
$section-padding-medium: 6rem 1.5rem;
$section-padding: 5rem 1.5rem;
$footer-background-color: $bege;
// 4. Import the rest of Bulma
@import '../node_modules/bulma/bulma';

h1 {
  font-size: 7rem !important;
  line-height: 70% !important;
}
h2 {
  font-size: 3.5rem !important;
  line-height: 70% !important;
}

.has-background-yellow {
  background-color: $yellow;
}
.has-background-orange {
  background-color: $orange;
}
.has-background-red {
  background-color: $red;
}
.has-background-coral {
  background-color: $coral;
}
.has-background-purple {
  background-color: $purple;
}
ul.accordion li {
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
}
ul.accordion li:before {
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
}
ul.accordion li:hover:before {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.accordion .content {
  display: none;
}
.accordion .active .content {
  display: block;
}
.accordion-icon {
  width: 4rem !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
.accordion-icon .line {
  width: 2rem !important;
  border: 1px solid #ffffff;
  position: absolute;
  transition: all 0.5s ease;
}
.has-background-yellow .accordion-icon .line,
.has-background-orange .accordion-icon .line {
  border: 1px solid $dark;
}
.line.h {
  transform: rotate(0deg);
}
.line.v {
  transform: rotate(90deg);
}
.accordion-bt:hover .accordion-icon,
.active .accordion-bt .accordion-icon {
  transform: rotate(180deg);
}
.active .accordion-bt .accordion-icon,
.active .accordion-bt .accordion-icon .line.v {
  transform: rotate(0deg);
}

footer h2 {
  margin-bottom: 2rem !important;
}

.border-shadow {
  border: 2px $dark solid;
  box-shadow: 6px 6px $dark;
}
.button {
  border-radius: 0;
}
.button img {
  width: 1em;
}
.button.is-yellow {
  background-color: $yellow;
}
.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 1.5rem;
}
.buttons .button {
  margin-bottom: 1.5rem;
}
.profile-picture {
  width: 13rem !important;
}

@include mobile {
  h1 {
    font-size: 5rem !important;
  }
  .profile-picture {
    margin: 0 auto;
  }
}
@include until(500px) {
  .buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 1.5rem;
  }
}
